html{
  background-color: #494747;
}


.background {
  background-color: #494747;
  font-family: 'Courier New', Courier, monospace;
}

.header{
  background-color: #494747;
}

  


.search
{
  font-size: 25px;
  border-radius: 5px;
  display: block;
  border: #494747;
  margin-top: 8px;
  margin-right: 40px;
  float: right;
  
}

.main-title{
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 40px;
  text-decoration: underline;
  
  
  
  
  }
  
  