html{
  background-color: #494747;
}


.background {
  background-color: #494747;
  font-family: 'Courier New', Courier, monospace;
}

.header{
  background-color: #494747;
}

  


.search
{
  font-size: 25px;
  border-radius: 5px;
  display: block;
  border: #494747;
  margin-top: 8px;
  margin-right: 40px;
  float: right;
  
}

.main-title{
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 40px;
  text-decoration: underline;
  
  
  
  
  }
  
  .imgofmovie{
    width: 250px;
    height: 350px;
    display: inline-block;
  }
  .titleofmovie{
    color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  
  }

  .movie{
    max-width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    display: inline-block;
    
  }